<!-- het lijkt erop alsof hij de parameters van de form niet aanneemt -->
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>